@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root{
    --laranja: #FFAF64;
    --roxo: #8D54DC;
    --lilas: #F8F4FF;
    --branco: #ffffff;
    --preto: 	#000000;
    --brancoComOpacidade: #ffffff50;
    --bordas: 1px solid var(--brancoComOpacidade);
    --arredondamento: 7px;
}

body{
    background-color: var(--lilas);
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

/* header */

.header_primario{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navegação{
    display: flex;

}

#input_filtro_nome{
    width: 418px;
    height: 40px;
    border-radius: 7px;
    border-color: var(--roxo);
}

.logo{
    width: 255px;
    height: 72.79;
}

.botoes{
    display: flex;
    gap: 27px;
    
}

#botao{
    background-color: var(--roxo);
    width: 175px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 7px;
    border-color: transparent;
}

#botao>p{
    color: var(--branco);
    text-decoration: none;
}